<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;margin-top: 4%">
  <h2>
    Welcome to Student Grade Calculator !
  </h2>
<p style="margin-left: 30%;margin-right: 30%">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius molestias deserunt repellendus corrupti hic veniam dolores!</p>

  <img width="300" alt="Angular Logo" src="../assets/giphy.gif">

<p style="margin-left: 20%;margin-right: 20%">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius molestias deserunt repellendus corrupti hic veniam dolores! Rerum fuga aliquam dolores sapiente magni, facilis consequatur id cum ab ipsum repellendus consequuntur?</p>
<a routerLink="/gradecalculater" class="btn btn-primary">Calculate your Grade</a>
</div>

